.container {
  background-color: #016bf8;
  color: #ffffff;
  font-size: 16px;
  height: 36px;
  width: 100%;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 300ms;
}

.container:hover {
  background-color: #00357b;
} 

.container svg {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}