.container {
  padding: 20px;
  height: 100vh;
  background-color: var(--dark-blue);

}

.content {
  width: 75%;
  border-right: 1px solid var(--light);
}

.content header h1 {
font-weight: 600;
font-size: 24px;
color: var(--white);
margin-bottom: 14px;
}

.content header span {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
  color: var(--white)
}